<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuration"></ion-back-button>
    </ion-buttons>
    <ion-title>Unités</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addUnit()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="!units || units.length === 0">
      <ion-card-subtitle>Il n'y a pas encore d'unité</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="units && units.length !== 0">
      <ion-list>
        <ion-item *ngFor="let unit of units">
          <ion-label>{{unit.name}}</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="primary" (click)="editUnit(unit)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="primary" (click)="deleteUnitPresentAlert(unit)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>