<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuration"></ion-back-button>
    </ion-buttons>
    <ion-title>component</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addComponent()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="!componentTypes || componentTypes.length === 0">
      <ion-card-subtitle>Il n'y a pas encore de famille de composant</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="componentTypes && componentTypes.length !== 0">
      <ion-list>
        <ion-item *ngFor="let componentType of componentTypes">
          <ion-label>{{componentType.name}}</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="primary" (click)="editComponent(componentType)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="primary" (click)="deleteComponentPresentAlert(componentType)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>