<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuration"></ion-back-button>
    </ion-buttons>
    <ion-title>Clauses techniques</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addTechnicalClause()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="!technicalClauses || technicalClauses.length === 0">
      <ion-card-subtitle>Il n'y a pas encore de clause technique</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="technicalClauses && technicalClauses.length !== 0">
      <ion-list>
        <ion-item *ngFor="let technicalClause of technicalClauses">
          <ion-label>{{technicalClause.name}}</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="primary" (click)="editTechnicalClause(technicalClause)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="primary" (click)="deleteTechnicalClausePresentAlert(technicalClause)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>