<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{isEdit ? 'Modifier' : 'Ajouter'}} couverture</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="onSubmit()">
        <ion-label>{{isEdit ? 'ÉDITER' : 'CRÉER'}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Couverture</ion-card-title>
      <ion-card-subtitle>* champs requis</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form #coverForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating" color="primary">Nom*</ion-label>
            <ion-input type="text" inputmode="text" name="name" [(ngModel)]="cover.name" required></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>