<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Mes qualités</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="updateTechnicalClauses()">
        <ion-label>CONFIRMER</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="technicalClauses">
    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let technicalClause of technicalClauses">
          <ion-checkbox slot="start" [value]="technicalClause" (ionChange)="updateTechnicalClause($event)" [checked]="isChecked(technicalClause) ">
          </ion-checkbox>
          <ion-label>{{technicalClause.name}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>