<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuration"></ion-back-button>
    </ion-buttons>
    <ion-title>Isolations</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addInsulation()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="!insulations || insulations.length === 0">
      <ion-card-subtitle>Il n'y a pas encore d'isolation</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="insulations && insulations.length !== 0">
      <ion-list>
        <ion-item *ngFor="let insulation of insulations">
          <ion-label>{{insulation.name}}</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="primary" (click)="editInsulation(insulation)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="primary" (click)="deleteInsulationPresentAlert(insulation)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>