<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item button=true detail routerLink="/configuration/component-type" lines="full">
      <ion-label>Familles de composants</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/component" lines="full">
      <ion-label>Composants</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/range" lines="full">
      <ion-label>Gammes</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/provider" lines="full">
      <ion-label>Fournisseurs</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/specification" lines="full">
      <ion-label>Spécifications</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/unit" lines="full">
      <ion-label>Unités</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/insulation" lines="full">
      <ion-label>Isolations</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/cover" lines="full">
      <ion-label>Couvertures</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/technical-clause" lines="full">
      <ion-label>Clauses techniques</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/cut" lines="full">
      <ion-label>Coupes</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/frame" lines="full">
      <ion-label>Ossatures</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/wood-frame" lines="full">
      <ion-label>Huisseries</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/customer" lines="full">
      <ion-label>Clients</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/module" lines="full">
      <ion-label>Modules</ion-label>
    </ion-item>
    <ion-item button=true detail routerLink="/configuration/model" lines="full">
      <ion-label>Modèles</ion-label>
    </ion-item>
  </ion-list>
</ion-content>